@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {
    body{
        background-image: linear-gradient(to bottom, var(--cor01), var(--cor02));
    }
    main{
        display: inline-block;
        width: 80vw;
    }

    #image{
        float: left;
        width: 30%;
        height: 500px;
        background-position: center;
        
    }
    #form{
        float: right;
        width: 70%;
        height: 500px;
    }
}
@media screen and (min-width:992px){
    body{
        background-image: linear-gradient(to bottom, var(--cor01), var(--cor02));
    }
    main{
        display: inline-block;
        width: 950px;
    }

    #image{
        float: right;
        width: 50%;
        height: 500px;
        background-position: center;
        
    }
    #form{
        float: left;
        width: 50%;
        height: 500px;
    }
    #form h1{
        font-size: 2.1em;
    }
    #form p{
        font-size: 1.2em;
    }
}