@charset "UTF-8";

:root{
    --cor01: #5f2C82;
    --cor02: #49a09d;
    --cor03: #6ad3b2;
    --cor04: #95e6dbf3;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body, html{
    background-color: var(--cor01);
    height: 100vh;
}
main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    overflow: hidden; /* CERTO */
    border-radius: 20px;
    width: 350px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    /* height: 60vh; */
    /* background-color: green; */
    transition: width 0.1s, height 0.1s;
    transition-timing-function: ease;
}
section{
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    height: 400px;
}
#image{
    display: block;
    height: 250px;
    background-image: url(../images/pexels-cottonbro-studio-3585074.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    /* border-radius: 20px 20px 0px 0px; GAMBIARRA */ 
}

#form{
    /* border-radius: 0px 0px 20px 20px; GAMBIARRA */
    background-color: white;
    padding: 20px;
    width: 100%;
}
#form h1{
    text-align: center;
    padding: 10px;
}
#form p{
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
}
div.campo{
    background-color: var(--cor01);
    margin-top: 7px;
    width: 100%;
    height: 42px;
    border-radius: 10px;
}
form input[type=submit]{
    display: block;
    font-size: 1em;
    margin: auto;
    margin-top: 7px;
    width: 100%;
    height: 40px;
    color: rgb(252, 252, 252);
    background-color: var(--cor02);
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}
form input[type=submit]:hover{
    background-color: var(--cor03);
}
a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    margin-top: 7px;
    width: 100%;
    height: 40px;
    color: var(--cor02);
    border: 1px solid var(--cor02);
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}
a.botao:hover{
    background-color: var(--cor03);
    color: white;
    border: none;
}
.campo span{
    position: relative;
    top: 3px;
    left: 3px;

    color: white;
    padding: 5px;
    font-size: 1.8em;
}
.campo input{
    background-color: var(--cor04);
    border: none;
    border-radius: 8px;
    width: calc(100% - 44px);
    height: 40px;
    transform: translateY(-7px);
}
.campo input:hover{
    
}
#mail{
    position: relative;
    top: 7px;
    left: 3px;
}