@charset "UTF-8";

:root{
    --cor01: #5f2C82;
    --cor02: #49a09d;
    --cor03: #92c5a9f3;
    --cor04: #3ba069f3;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body, html{
    background-color: var(--cor01);
    height: 100vh;
}
section{
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    height: 400px;
    
}
main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    overflow: hidden; /* CERTO */
    border-radius: 20px;
    width: 350px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    /* height: 60vh; */
    /* background-color: green; */
    transition: width 0.1s, height 0.1s;
    transition-timing-function: ease;
}
#image{
    display: block;
    height: 250px;
    background-image: url(../images/pexels-cottonbro-studio-3585074.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    /* border-radius: 20px 20px 0px 0px; GAMBIARRA */ 
}

#form{
    /* border-radius: 0px 0px 20px 20px; GAMBIARRA */
    background-color: white;
    padding: 20px;
    width: 100%;
}
#form h1{
    text-align: center;
    padding: 10px;
}
#form p{
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
}
